<h1><%= @console.name %></h1>

<h3>Here are the games you own for this console:</h3>

<ul>
  <% Game.all.each do |game| %>
   <% if game.user_id == @current_user.id %>
     <li><%= game.name %></li>
   <% end %>
  <% end %>
</ul>

<br></br>
<br></br>
<p><a href="/consoles/<%= @console.id %>/edit">Rename this console</a></p>

<p>Remove this console from your collection:</p>
<form action="/consoles/<%= @console.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit"  value="Remove Console">
</form>
