<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Welcome to your Game Vault, <%= @user.username %>!</h1>
 <h3>Go to your Console page to see a list of consoles you own, or to add or remove a console from your collection.</h3>
 <h4><a href="/consoles">Your Console Page</a></h4>
 <h3>Go to your Games page to see a list of games you own, or to add or remove a game from your collection.</h3>
 <h4><a href="/games">Your Game Page</a></h4>



<p><a href="/logout">Log Out</a></p>
