<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h3>Congratulations on your new game! Add it to your Vault!</h3>
<form action="/games" method="POST">
	<input type="text" name="name" placeholder="Game name:">
	<input type="submit" id="submit" value="Add to Vault!">
</form>
